/*          
 * Copyright (c) 2025 Christian Hirsch
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c2 {
    status = "okay";

    clock-frequency = <I2C_BITRATE_STANDARD>;

    mlx90614: mlx90614@5a {
        compatible = "melexis,mlx90614";
        reg = <0x5a>;
        status = "okay";
    };
};
